<!DOCTYPE>
<html>
<head></head>
<body>
    <p><a href="/">返回到首页</a></p>
    <h1>详情</h1>
    <p>标题： <%=data[0].title %></p>
    <div><%=data[0].content %></div>
    <div class="reply">
        <h2>评论</h2>
        <div class="reply_con">
            <table>
                <% for(var i=0, len=data.length; i<len; i++) { %>
                <tr>
                    <td><%=(i+1) %></td>
                    <td><%=data[i].content %></td>
                    <td><%=data[i].createtime %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>
</html>